<div class="bg">
    <div class="wrapper3">
        <div class="container">
            <div class="row">
                <div class="grid_12"> 
                    <div class="heading">
        <h3 class="white">Отправьте заявку на сотрудничество</h3>
    </div>
    <div class="form-wrapper">
        <form id="contact-form">
            {% csrf_token %}
<label class="name">
<input type="text" name="name" placeholder="Ваше имя" required="">
</label>
<label class="email">
<input type="text" name="phone" placeholder="Телефон" required="">
</label>
<label class="message">
<textarea name="message" placeholder="Сообщение" required=""></textarea>
</label>
<input type="hidden" name="host" value="{{ name }}">

<div class="btn-wrapper">
<button class="form-btn t__up" type="submit">Начать сотрудничать</button>
</div>
</form>
                    </div>
                </div>	
            </div>
        </div>
    </div>	
</div>