{% load static  yandex_metrica %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Пиломатериалы оптом</title>
	<meta name="description" content="Оптовые поставки от производителя по всей России" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/icons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/icons/favicon-16x16.png'%}">
	<link rel="icon" type="image/x-icon" sizes="120x120" href="{% static 'img/icons/favicon-120x120.ico'%}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="{% static 'img/icons/safari-pinned-tab.svg'%}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="{% static 'css/grid.css'%}">
	<link rel="stylesheet" href="{% static 'css/camera.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/touchTouch.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/contact-form.css'%}"/>
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" href="{% static 'css/libs/animate/animate.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/libs/fancybox/jquery.fancybox-1.3.4.css'%}" />
	<link rel="stylesheet" href="{% static 'css/libs/magnific-popup/magnific-popup.css'%}" />
	<link rel="stylesheet" href="{% static 'css/libs/secondnav/style.css'%}">
	{% yandex_metrica %}
</head>
<body style>
  <div class="page">
	  {% block header %}{% endblock header %}	
	{% block secondary_nav %}{% endblock secondary_nav %}
		
    <section id="content">
      <div class="container">
        <div class="wrapper1 wrapper1__inset1">
          <div class="row">
            <div class="grid_12">
			 {% block heading %}{% endblock heading %}
            </div>
          </div>
		  {% block content_category %}{% endblock content_category %}
          <div class="row">
            <div class="grid_12">
				{% block service %}{% endblock service %}
            </div>
          </div>
			{% block detail_service %}{% endblock detail_service %}	
        </div>
      </div>
	  
	  {% block bg %} {% endblock bg %}
		

    </section>
		<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="grid_12">
				<p class="copyright white">
					<span class="first">ТД «Пиломатериал» </span><span>©	2019-<span id="copyright-year">2023</span></span>
				</p>
			</div>
		</div>
	</div>
</footer>

  </div>

<script src="{% static 'js/libs/jquery/1.11.0/jquery.min.js'%}"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.js'%}"></script>
<script src="{% static 'js/jquery.stellar.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/touchTouch.jquery.js'%}"></script>
<script src="{% static 'js/easyResponsiveTabs.js'%}"></script>
<script src="{% static 'js/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'js/animate-css.js'%}"></script>
<script src="{% static 'js/waypoints.min.js'%}"></script>
<script src="{% static 'js/libs/fancybox/jquery.fancybox-1.3.4.js'%}"></script>
<script src="{% static 'js/libs/fancybox/jquery.fancybox-1.3.4.pack.js'%}"></script>
<script src="{% static 'js/libs/fancybox/jquery.mousewheel-3.0.4.pack.js'%}"></script>
<script src="{% static 'js/libs/magnific-popup/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/script.js'%}"></script>

<script type="text/javascript">
	$(function () {
		$('a[data-gal]').touchTouch();
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".popup").magnificPopup();

		$("#contact-form, #order-form").submit(function(e) {
			e.preventDefault();
			data = $(this).serialize()
			console.log(data);
			$.ajax({
				type: "POST",
				url: "",
				data: data,

			}).done(function() {
				$(this).find("input").val("");
				alert("Спасибо за выбор нашей компании! Скоро мы с Вами свяжемся.");
				setTimeout(function() {
				$.magnificPopup.close();
			}, 1000);
				$("#contact-form, #order-form").trigger("reset");
			});
			return false;
		});
	});
</script>
</body>
</html>
